@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

// Colors
$primary-color: #26c0ab;
$secondary-color: #00494d;
$labels-color: #5e7a7d;
$person-color: #7f9c9f;
$background-color: #c5e4e7;
$input-color: #f4fafa;
$white: #ffffff;

// Font
$body-font: "Space Mono", monospace;

//Global

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $body-font;
}

body {
  font-size: 24px;
  background-color: $background-color;
}

.container {
  &__img-wrapper {
    padding: 2rem 6rem;
    text-align: center;
  }
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  border-radius: 1rem 1rem 0 0;
  background-color: $white;
  padding: 2rem;

  &__label {
    font-size: 1rem;
    color: $labels-color;
    margin-bottom: 0.5rem;
  }

  &__input {
    border: none;
    background: #f3f9fa;
    border-radius: 5px;
    width: 100%;
    padding: 0.5rem;
    color: #00474b;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: right;

    &:focus-visible {
      outline-color: $primary-color;
    }
  }

  &__input-wrapper {
    position: relative;
  }

  &__input-logo {
    position: absolute;
    top: 1.2rem;
    left: 1rem;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__button-percentage {
    width: 47%;
    height: 48px;
    color: $white;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    background-color: $secondary-color;

    &:focus {
      background-color: $primary-color;
      color: $secondary-color;
    }
  }

  &__custom-input {
    width: 47%;
    height: 48px;
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    background-color: $input-color;
    color: $labels-color;
    text-align: right;
    padding: 0.5rem 1rem;

    &:focus-visible {
      outline-color: $primary-color;
    }
  }

  &__total-card {
    border-radius: 5px;
    background: $secondary-color;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.3rem;
  }

  &__total-card-title {
    color: $white;
    font-size: 1rem;
    margin-bottom: -10px;
  }

  &__total-card-subtitle {
    font-size: 0.8rem;
    color: $person-color;
  }

  &__total-card-value {
    font-size: 2rem;
    text-align: right;
    color: $primary-color;
    font-weight: bold;
  }

  &__total {
    display: flex;
    justify-content: space-between;
  }

  &__reset {
    border: none;
    padding: 0.6rem 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: $secondary-color;
    background: $primary-color;
    border-radius: 5px;
  }
}
